/*commons*/

/* BEM */

.radio{
  color: #39194E;
}

.radio__awards{
  color: #39194E;
}

.radio__grammy{
  background-color: #07EAF2;
}

.radio__caja1{
  color: whitesmoke;
  font-family: 'Zen Old Mincho', serif;
  width: 50%;
  float: left;
  box-sizing: border-box;
  background: linear-gradient(to right, blueviolet, lightblue);
  }

.radio__caja2{
  width: 50%;
  box-sizing: border-box;
}

.grid{
  display: grid;  
}

.template-areas{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 5vh;
  grid-template-areas: "parrafo" "news" ;
}



