/* selector universal reset¨*/

html{

}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #39194E
}


main{
  grid-area: main;
}

 section p{
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  word-spacing: 2px;
 }

 h1{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;

  }
h2{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;
}

h3{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;

 }


h4{
  color: whitesmoke;
  font-family: inherit;
  margin-bottom:left ;
}

h5{
  
}

h6{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;
}



 p{
  font-family: 'Zen Old Mincho', serif;
  color: whitesmoke;
 }


@media (max-width: 400px){
  body{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 2.2fr 0.4fr;
      grid-template-areas: 
      "header header header"
      " main main main" 
      "footer footer footer";
      .yorkeTabla{

      }
    }
  


}

@media (max-width: 800px){
  body{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 2.2fr 0.4fr;
      grid-template-areas: "header header header" " main main main" "footer footer footer";
    }
  
}
@media (max-width: 1200px){
  body{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.4fr 0.4fr 0.4fr;
      grid-template-areas: "header header header" " main main main" "footer footer footer";
    }
  
}

