/* selector universal reset¨*/

html{

}

body{
  background-color: #39194E;
}

 section p{
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  word-spacing: 2px;
 }

 h1{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;

  }
h2{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;
}

h3{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;

 }


h4{
  color: whitesmoke;
  font-family: inherit;
  margin-bottom:left ;
}

h5{
  
}

h6{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;
}



 p{
  font-family: 'Zen Old Mincho', serif;
  color: whitesmoke;
 }


img{
  display: block;
  max-width: 100%;
}

iframe{
  
}

header{


}

section{

}

footer{

}

@media (max-width: 400px){
  body{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 800px){
  body{
    display: flex;
    flex-direction: column;
  }
  img{
    height: 90px;
  }
  form{
    font-size: 10px;
  }
  legend{
    font-size: 10px;
  }
  p{
    width: 40%;
  }

  .tabla{
    margin-left: 1rem;
  }

  .radio__caja1{
    font-size: 15px;
  }

  .carousel{
    width: 40%;
  }

  .albums{
    height: 10%
  }

  .newsfoto{
   
   height: 20px;
  }
  
}

@media (max-width: 1200px){
  body{
    display: flex;
    flex-direction: column;
  }

}

