/* selector universal reset¨*/

*{ font-family: Arial, sans-serif; }

html{

}

body{
  background-color: #39194E;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}



 section p{
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  word-spacing: 2px;
 }

 h1,h2,h3,h4,h5,h6{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Scheherazade New', serif;;
  }



 p{
  font-family: 'Zen Old Mincho', serif;
  color: whitesmoke;
 }


img{
  display: block;
  max-width: 100%;
}


.contenedor{
  display: flex;
  justify-content: center;
}

.contenedor-banda{
  display: flex;
  flex-direction: row;
}

.videos-flex{
  display: flex;
  flex-direction: row;
}

.albums{
  margin: auto;
}

.carousel{
  width: 100%;
}

.error404{
  background-color: #39194E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error{
  width: 50%;
}

.error-button{
  padding: 13px 30px;
  border-radius: 15;
  border: none;
  background-color: #15A0B5;
  color: white;
  text-decoration: none;
}


@media (max-width: 360px){
  p{
    width: 90%;
  }

  .carousel{
    width: 100%;
  }
}


@media (max-width: 400px){

  form{
    font-size: 10px;
  }
  legend{
    font-size: 10px;
  }
  p{
    width: 90%;
  }

  h4{
    font-size: 15px;
  }

  .tabla{
    margin-left: 1rem;
  }

  .carousel{
    width: 100%;
  }

  .albums{
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  .contenedor{
    display: flex;
    flex-direction: row;
  }

  .contenedor{
    display: flex;
    flex-direction: column;
  }

  .contenedor-banda{
    display: flex;
    flex-direction: column;
  }

  .labels{
    display: flex;
    flex-direction: column;
  }

  .tabla{
    display: flex;
    flex-direction: column;
  }

  .yorkeTabla{
    width: 20%;
  }

}


@media (max-width: 800px){
  body{
    display: flex;
    flex-direction: column;
  }
  img{
    height: 90px;
  }
  form{
    font-size: 10px;
  }
  legend{
    font-size: 10px;
  }
  p{
    width: 90%;
  }

  h4{
    font-size: 20px;
  }

  .tabla{
    margin-left: 1rem;
  }

  .carousel{
    width: 100%;
  }

  .contenedor{
    display: flex;
    flex-direction: column;
  }

  .contenedor-banda{
    display: flex;
    flex-direction: column;
  }

  .img-thumbnail{
    width: 40%;
  }


  
}

@media (max-width: 1200px){
  body{
    display: flex;
    flex-direction: column;
  }

  .img-thumbnail{
    width: 40%;
  }

}

