/*tabla*/

table{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: auto;
 }

th {
  background-color: #572904;
  border: 2px solid;
 }

tr, td {
  border: 1px solid;
  background-color: #572904;
}

td{
  border: 2px solid;
  border-color: black;
  color: whitesmoke;
}
